{% if proxy_squid.acl.SSL_ports is defined and
      proxy_squid.acl.SSL_ports.type is defined and
      proxy_squid.acl.SSL_ports.type == "port" %}
 {% for element in proxy_squid.acl.SSL_ports.elements|default([])  %}
acl SSL_ports port {{element}}
 {% endfor %}
{% else %}
# Configuration for acl SSL_ports missing or invalid, using default
acl SSL_ports port 443
{% endif %}
