#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
#
# Recommended minimum configuration:
#

{% if proxy_squid_hostname is defined %}
visible_hostname {{proxy_squid_hostname}}
{% elif proxy_squid.visible_hostname is defined %}
visible_hostname {{proxy_squid.visible_hostname}}
{% endif %}

{% if proxy_squid.dns_v4_first is defined and proxy_squid.dns_v4_first == true %}
dns_v4_first on
{% endif %}

forwarded_for {{proxy_squid.forwarded_for|default("on")}}
shutdown_lifetime {{proxy_squid.shutdown_lifetime|default('1 seconds')}}

{% include "squid.conf.acl-include_default_localnet.j2" %}
{% include "squid.conf.acl-include_default_sslports.j2" %}
{% include "squid.conf.acl-include_default_safeports.j2" %}
{% include "squid.conf.acl-include.j2" %}

{% include "squid.conf.cache_peer-include.j2" %}

{% include "squid.conf.cache_access-include.j2" %}

{% include "squid.conf.http_access-include.j2" %}

# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320
